<table mat-table [dataSource]="dataSource" style="width: 800px;">
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef>Product Name</th>
      <td mat-cell *matCellDef="let product">{{ product.name }}</td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let product">
        {{ product.price }}
      </td>
    </ng-container>
    <ng-container matColumnDef="companyName">
      <th mat-header-cell *matHeaderCellDef>Company Name</th>
      <td mat-cell *matCellDef="let product">{{ product.company_name }}</td>
    </ng-container>

    <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef>Count</th>
        <td mat-cell *matCellDef="let product">{{ product.count }}</td>
      </ng-container>

    <!-- <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let taskObj">
        <button
          mat-raised-button
          (click)="edit(taskObj)"
          style="margin-right: 10px;"
          [disabled]="taskObj.isCompleted"
        >
          Edit
        </button>
        <button
          mat-raised-button
          (click)="endTask(taskObj)"
          [disabled]="taskObj.isCompleted"
        >
          End Task
        </button>
      </td>
    </ng-container> -->
  
    <tr mat-header-row *matHeaderRowDef="allColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: allColumns"></tr>
  </table>